[Unit]
Description=Service to start/stop demo microservice
[Service]
Environment="CONFIG=/opt"
ExecStart=/usr/bin/demo
Restart=on-failure
RestartSec=1s
[Install]
WantedBy=multi-user.target
