[Unit]
Description=Service to start/stop sensormonitor microservice
[Service]
Environment="CONFIG=/opt"
ExecStart=/usr/bin/sensormonitor
Restart=on-failure
RestartSec=1s
[Install]
WantedBy=multi-user.target
