<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>DEMO</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
    {{ template "navbar" . }}
        <div class="container">
            <form class="form-horizontal" method="POST" action="/update">
                <h3>Sensor:</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sensor">Sensor:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="sensor" value="{{.Settings.Sensor}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="name" value="{{.Settings.Name}}">
                    </div>
                </div>

                <h3>Grafana:</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="host">Host:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="grafana-host" value="{{.Settings.Grafana.Host}}">
                    </div>
                </div>

                <h3>Influx:</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="host">Host:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="host" value="{{.Settings.Influx.Host}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="token">Token:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="token" value="{{.Settings.Influx.Token}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="api">Api:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="api" value="{{.Settings.Influx.Apiorg}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="bucket">Bucket:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="bucket" value="{{.Settings.Influx.Bucket}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="interval">Interval:</label>
                    <div class="col-sm-10">
                        <input id="msg" type="text" class="form-control" name="interval" value="{{.Settings.Influx.Interval}}">
                    </div>
                </div>

                <input type="submit" class="btn btn-primary btn-lg" value="Save">
            </form>
        </div>

        {{ template "footer" . }}

    </body>
</html>